body {
  background: linear-gradient(135deg,#a9a9a9,#008080);
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}
body {
  font-family: "Trebuchet MS";
  color: #fff; 
}
.menu {
                 /* Transformation en flexbox */
 padding-top: 100px;
 padding-left: 30px;
 padding-right: 30px;
  justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
  list-style-type: none ;       /* Suppression des puces */

}
.menu a {
  display:block;                /* Transformation en block */
min-width: 100px;         /* Largeur minimale des liens */   
  align-content: center;
  margin: 0.5rem;               /* Marges externes */
  padding: 0.4rem 0;           /* Marges internes */
  text-align: center;           /* Centrage du texte */   
  background-color: #1A2226;    /* Arrière-plan */
  color: #fff;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  border: 1px solid #fff;       /* Ajout d'une bordure */
  border-radius: 4px;           /* Arrondis des bordures */
  
  transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
  background-color: #6a6f8c ; 
  color: #1ABC9C ;
  border-color: #1ABC9C ;
}
.menu a:hover,
.menu a:hover.actif{
  background-color:#008080;
  color: #000000;
  border-color: #c8c8c8;
}

		.haut-gauche   h1{
			color: #000000;
			font-size: 1.7em;
			margin: 0 0 0 0px;
			text-shadow: 1px 1px 1px;
			}
			.haut-gauche   h2{
        color:#000000;
			margin: 0px 0 0 20px;
			font-size: 1.1em;
			letter-spacing: 3px;
			}
			.haut-gauche   h2   span{
			color:#008080;
			text-align : center;
		}